$input-bg:#F2F3F4  ;
$phone-size: 450px;
$tablet-size: 751px;

@mixin boxProps{
  margin: 1em auto;
  padding: 20px 20px 20px 20px;
  overflow-y:auto;
    display:flex;
  flex-column:column;
  @media screen and (max-width:$phone-size) {
    width: 100%;
    height:300px;
  }

  @media screen and (min-width:$tablet-size) {
    width: 90%;
    height:600px;
  }
}

html,body{
  height:100%;
  background-color:black;
}

.container{
  background-color:#EBEDEF  ;
  width: 90%;
  height: 100vh;
  @media screen and (max-width:$phone-size) {
  height:100%;
}

}

.title{
  text-align:center;
  height:10%;
}

.input-box{
  @include boxProps;
  border: 1px solid #ccc;
  background-color: $input-bg;
  font-size:1.2em;
}

.preview-box{
  @include boxProps;
}